*{margin: 0;
    padding: 0;}
body{font-family: 'FGR';
    box-sizing: border-box;}
li{list-style: none;}
a{text-decoration: none;}
:root{
    --color-green:#082823;
    --color-beige:#efecdf;
}
header{width: 100vw;
        position: fixed;
        z-index: 20;
        left: 0; top: 0;}
.logo{width: 100px;
    height:auto;
    position: absolute;
    top: 20px;
    left: 20px;}
.hot-menu{width: 400px;
        height: auto;
        position: absolute;
        top: 20px;
        right: 30px;}
.hot-menu>ul{display: flex;}
.hot-menu>ul li{flex: 1;}
.hot-menu li>a{color: #000;
    font-size: 18px;
    text-transform: uppercase;}
.hot-menu li>a:hover{
    text-decoration: underline;
}
.hot-menu>ul li:nth-child(3)>form input{
    border: none;
    background-color: transparent;    
    border-bottom: 1px solid;
    outline: none;
    padding: 3px;
    margin-top: 4px;
}
.hot-menu>ul li:nth-child(3)>form input[type="text"]::placeholder{
        font-family: 'FGR';
        color: #000;
        font-size: 18px;}
.hamburger-menu{width: 30px;
                height: 16px;
                position: absolute;
                top: 100px;
                left: 20px;
                cursor: pointer;}
.hamburger-menu span{width: 100%;
                    height: 1px;
                    display: block;
                    position:absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    background-color: #000;}
.hamburger-menu span::before,
.hamburger-menu span::after{content: ""; 
                            position: absolute; left: 0; top: 0; width: 100%; 
                            height: 1px; background-color: #000;}
.hamburger-menu span::before{top: -6px;}
.hamburger-menu span::after{top: 6px;}
.hamburger-menu.open span{
    background-color: transparent;
}
.hamburger-menu.open span::before{
    top: 0;
    transform: rotate(45deg);
    background-color: #000;
}
.hamburger-menu.open span::after{
    top: 0;
    transform: rotate(-45deg);
    background-color: #000;
}
nav{
    position: fixed;
    z-index:15;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    background-color:transparent;}
nav.open{
    left:0;
    transition: left .5s;
    }
#nav-bg-top{
    position: absolute;
    left: 659px;
    top: -60px;
    z-index: -200;
    width: 3342px;
}
#nav-bg-top.open{
    top: 0;
    transition: top .5s;
}
#nav-bg-round{
    position: absolute;
    left: 300px;
    top: -60px;
    z-index: -200;
    width: 359px;;
    height: 419.05px;
    opacity: .6;}
#nav-bg-round.open{
    top: 0;
    opacity: 1;
    transition: top .5s, left .5s;
}
#nav-bg-side{
    position: absolute;
    top: 0;
    left: 0;
    height: 4000px;
}
.menu-list{position: relative;
        margin-left: 20px;
        }
.menu-list>li{font-size: 24px;
            margin: 10px;
            transition: all .5s;}
.menu-list>li>a:hover,
.sub-menu>li>a:hover{
    text-decoration: underline;
}
.menu-list>li:first-child{margin-top: 150px;}
.menu-list>li>a,
.sub-menu>li>a{color: #000;}
.menu-list>li:nth-child(2) .sub-menu{
        padding-left: 20px;
        font-size: 19px;}
.sub-menu>li{margin-top: 10px;}
.menu-list>li:last-child{
    margin-top: 600px;
}
.menu-list>li>.language>a{color: #000;}
section{width: 100%;
        height: 100vh;}
main>.main-img>.full-logo{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    height: 500px;
}
main>.main-img>.full-logo>img{
    animation: spin 40s linear infinite;
}
@keyframes spin{
    0%{transform: rotate(0);}
    100%{transform: rotate(360deg);}
}
.main-img{
       background:url(./image/p_image/main_image.jpg) no-repeat center/cover}
section:nth-child(3),
section:nth-child(4){display: flex;}
.bestseller {display: flex;
           width: 100%;}
.bestseller-img,
.bestseller-list{width: 50%;}
.insta-img,
.contact-form{width: 50%;
                height: 100vh;}
.bestseller-img{
    position: relative;
    height: 100vh;
    overflow: hidden;}
.bestseller-img>.slide-container{
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    width: 600vh;
    transition: left 0.5s ease-out;
}
.slide-container>.slide{
    float: left;}
.slide>img{width: 100%;
        height: 100vh;}
.bestseller-img .pre>img,
.bestseller-img .next>img{
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 20;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all .3s ease-in;
}
.bestseller-img .pre>img{
    left: 40px;
}
.bestseller-img .next>img{
    right: 40px;
}
.bestseller-list>div,
.contents>div{  font-size: 40px;
                margin-top: 50px;
                margin-left: 30px;}
.bestseller-list{
    position: relative;
    overflow-y: scroll;}
.bestseller-list::-webkit-scrollbar{
        display: none;
}
.bestseller-list-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20% 10% 70px;
}
.bestseller-list-list>li{
    width: 40%;
    margin: 14px;}
.bestseller-list-list>li>.item-img>img{
    transition: all .5s;
    width: 100%;
    cursor: pointer;}
.bestseller-list-list>li>.item-img>img:hover{
    filter: blur(5px);
}
.bestseller-list-list>li .item{
    margin-top: 15px;
    text-align: center;
}
.bestseller-list-list>li .item>h3{
    text-transform: uppercase;
    margin-bottom: 3px;
}   
.bestseller-list-list>li .item button{
    margin-top: 20px;
    width: 50%;
    height: 30px;
    cursor: pointer;
    outline: none;
    font-size: 15px;
    background: #fff;}
.insta-img{
    background:url(./image/p_image/instagram_img.jpg) no-repeat center/cover}
.instagram>.contents{
    position: relative;
    overflow: hidden;}
.instagram>.contents>div>a{
    color: #000;}
.instagram>.contents>div>a:hover{
    border-bottom: 2px solid;
}
.instagram>.contents>img{
    width: 40%;
    position: absolute;}
.instagram>.contents>img:nth-of-type(1){
    top: 20%; right: 38%;
    z-index: 1;
    animation:move-effect-1 linear 40s infinite running}
.instagram>.contents>img:nth-of-type(2){
    top: 15%; right: 3%;
    animation:move-effect-2 40s linear 5s infinite running}
.instagram>.contents>img:nth-of-type(3){
    bottom: -10%; left: 60%;
    animation:move-effect-3 40s linear 2s infinite running}
.instagram>.contents>img:nth-of-type(4){
    bottom: 10%; right: -50%;
    animation:move-effect-4 40s linear infinite running}
.instagram>.contents>img:nth-of-type(5){
    top: 30%; right: -15%;
    animation:move-effect-5 40s linear 1s infinite running}
.instagram>.contents>img:nth-of-type(6){
    top: 45%; left: -17%;
    animation:move-effect-6 40s linear infinite running}
@keyframes move-effect-1{
    0%{transform: translateX(0vw);}
    100%{transform: translateX(-40vw);}
}
@keyframes move-effect-2{
    0%{transform: translateX(0vw);}
    100%{transform: translateX(-40vw);}
  }
@keyframes move-effect-3{
    0%{transform: translateX(0vw);}
    100%{transform: translateX(-40vw);}
}
@keyframes move-effect-4{
    0%{transform: translateX(0vw);}
    100%{transform: translateX(-40vw);}
}
@keyframes move-effect-5{
    0%{transform: translateX(0vw);}
    100%{transform: translateX(-40vw);}
}
@keyframes move-effect-6{
    0%{transform: translateX(0vw);}
    100%{transform: translateX(-40vw);}
}
.instagram .contents,
.contact .contact-form{
    position: relative;
    background-color: var(--color-beige);
    width: 50%;}
.contact-form>div{
    font-size: 40px;
    text-align: center;
    border-bottom: 1px solid;
    width: 50%;
    padding-bottom: 3%;
    margin: 50px auto 20px;}
.contact .contact-form form{
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}
.contact .contact-form form select{
    cursor: pointer;
    height: 45px;
    margin-bottom: 20px;
    font-family: "FGR";
}
.contact .contact-form>textarea::placeholder{
    font-family: "FGR";
}
.contact .contact-form form button{
    margin-top: 40px;
    outline: none;
    height: 50px;
    border-radius: 50px;
    border: none;
    background:var(--color-green);
    color: #fff;
    cursor: pointer;
}
.contact .contact-form form button:hover{
    background-color: rgba(8,40,35,.8);
}
.contact-img{width: 50%;
    background:url(./image/p_image/contact\ us_img.jpg) no-repeat center/cover;
    border-bottom-right-radius: 200px;}
footer::before{content: "";
                display: block;
                height: 200px;
                margin-top: -200px;
                background-color: var(--color-green);
                z-index: -10;}
.footer-wrap{display: flex;
            height: auto;
            background-color: var(--color-green);
            color: #fff;
            padding: 50px;}
.footer-box{flex: 1 1;
             width: 100px;
            height: 100%;}
.footer-box:nth-child(1){flex: 2 1;}
.footer-box>ul>.number{font-size: 20px;}
.footer-box h3{text-transform: uppercase;
                margin-bottom: 15px;
                font-weight: 500;
                font-size: 16px;}
.footer-box ul>li{
    font-size: 14px;
    padding-bottom: 3px;}
.footer-box ul>li>a{color: #fff;}
.footer-box ul>li>a:hover{
    text-decoration: underline;}
.go-top{
    z-index: 30;
    width:40px;
    line-height: 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
     text-align: center;
    background-color: #fff;
    color: var(--color-green);
    box-shadow: 0 0 10px 4px rgba(0,0,0,.2);
    cursor: pointer;
}
@font-face {
    font-family: 'FGR';
    src: url('/font/Figue_Regular.eot');
    src: local('☺'),url('./font/Figue_Regular.woff') format('woff'),url('/fonts/Figue_Regular.ttf') format('truetype'),url('/fonts/Figue_Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@media screen and (max-width:960px) {
    main>.main-img>.full-logo{width: 450px; height: 450px;}
    .menu-list>li{font-size: 19px;}
    .menu-list>li:nth-child(2) .sub-menu{font-size: 15px;}
    .bestseller{flex-direction: column;}
    .bestseller-img,
    .bestseller-list{width: 100%;}
    .bestseller-list{overflow-x: scroll;}
    .bestseller-list-list{
        flex-wrap: nowrap;
    }
    .bestseller-list>div,
    .contents>div{font-size:30px;
                margin-top: 50px;
                margin-left: 30px;}
    .contents>div{text-align: right;
                margin-right: 20px;}
    .insta-img{
        width: auto;}
    .instagram>.contents{width: 100%;}
    .instagram>.contents>img{
        width: 35%;}
    .contact .contact-form{width: 100%;
         background-color: #fff;}
    .contact-img{width: 0;}
    .contact-form>div{font-size:30px;}
    footer::before{
        display: none}
    .footer-box h3{font-size: 14px;}
    .footer-box ul>li{font-size: 12px;}
    .go-top{
        width:35px;
        line-height: 35px;}
}